%h1 Listing players
%table
  %thead
    %tr
      %th Player
      %th Name
      %th Install at
      %th Locale
      %th Language
      %th Country
      %th
      %th
      %th
  %tbody
    - @players.each do |player|
      %tr
        %td= player.player_id
        %td= player.name
        %td= player.install_at
        %td= player.locale
        %td= player.language
        %td= player.country
