%p#notice= notice
%p
  %strong Name:
  = @app.name
%p
  %strong Client:
  = @app.client_id
%p
  %strong Key:
  = @app.key
%p
  %strong Secret:
  = @app.secret
= link_to 'Edit', edit_app_path(@app)
|
\#{link_to 'Back', apps_path}
