<%= form_for(@fte) do |f| %>
  <% if @fte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fte.errors.count, "error") %> prohibited this fte from being saved:</h2>

      <ul>
      <% @fte.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.number_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :step %><br>
    <%= f.number_field :step %>
  </div>
  <div class="field">
    <%= f.label :pass_time %><br>
    <%= f.datetime_select :pass_time %>
  </div>
  <div class="field">
    <%= f.label :app_id %><br>
    <%= f.number_field :app_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
